.container {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    margin-top: -90px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-bottom: 40px;*/
}

.card {
    background-color: #fff;
    flex: 1 1 22%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: brown;
}

.charts-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.charts-row canvas {
    flex: 1 1 22%;       /* makes 4 charts fit in a row */
    max-width: 45%;
    height: 200px;       /* adjust chart height */
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 5px;
    margin-bottom: 5px;
}
/* Table side */
.prediction-table-wrapper {
    flex: 1;
    overflow-y: auto;
    max-height: 330px;
    width: 100%;
}

.prediction-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* TABLE STYLE */
#prediction-table {
    width: 90%;
    border-collapse: collapse;
    font-size: 11px;
    background-color: white;
    border-radius: 10px;  
    margin-left: 33px;
}
#prediction-table thead tr th:first-child {
    border-top-left-radius: 10px;
}
#prediction-table thead tr th:last-child {
    border-top-right-radius: 10px;
}

/* ROUND BOTTOM CORNERS */
#prediction-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#prediction-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#prediction-table thead {
    background: #FFCC00;
}

#prediction-table th, 
#prediction-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#prediction-table tr:hover {
    background: #f0f8ff;
}

canvas {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .charts-row {
    flex-wrap: wrap;
  }
  .charts-row canvas {
    flex: 1 1 45%;
    margin-bottom: 20px;
  }
}