/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #F1F1F1;
}


nav .logo-name {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0; /* below navbar */
  left: 0;
  width: 260px;
  height:100%;
  background: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo-name {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
}

.lists {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #707070;
  font-weight: 400;
}

.sidebar .nav-link.active {
  color: #FFCC00;
}

.sidebar .nav-link.active .icon {
  color: #FFCC00;
}


.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
}

.bottom-content {
  margin-top: auto;
}

/* Main Content */
main {
  margin-left: 260px; /* space for sidebar */
  padding: 100px 30px 30px 30px; /* leave space for navbar */
}
