/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #F1F1F1;
}
.logo-image {
    width: 100px; /* or whatever size you want */
    height: auto;
    display: block;
    margin-left: 50px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0; /* below navbar */
  left: 0;
  width: 230px;
  height:100%;
  background: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
}

.lists {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #707070;
  font-weight: 400;
}

.sidebar .nav-link.active {
  color: #FFCC00;
}

.sidebar .nav-link.active .icon {
  color: #FFCC00;
}


.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
}

.bottom-content {
  margin-top: auto;
}

/* Main Content */
main {
  margin-left: 200px; /* space for sidebar */
  padding: 100px 30px 30px 30px; /* leave space for navbar */
}

.logout-list {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.logout .nav-link {
  color: #b36a2e !important;
}
.logout .icon {
  color: #b36a2e !important;
}

